<template>
  <div>
    <form @submit.prevent="submitForm" class="registration-form">
      <div class="form-group" :class="{ 'has-error': !isNameValid }">
        <label for="name">Name:</label>
        <input v-model="formData.name" type="text" id="name" required />
        <span v-if="!isNameValid" class="warning">Please enter a valid name</span>
      </div>

      <div class="form-group" :class="{ 'has-error': !isValidEmail }">
        <label for="email">Email:</label>
        <input v-model="formData.email" type="email" id="email" required />
        <span v-if="!isValidEmail" class="warning">Please enter a valid email address</span>
      </div>

      <div class="form-group">
        <label for="rating">Rating:</label>
        <Rating v-model="formData.rating" />
        <span class="selected-stars">{{ formData.rating }} stars selected</span>
      </div>

      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea v-model="formData.comment" id="comment" required></textarea>
      </div>

      <button :disabled="!isFormValid" type="submit">Send</button>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import Rating from "./Rating-for-me.vue";

export default {
  data() {
    return {
      formData: {
        name: "",
        email: "",
        rating: 1,
        comment: ""
      },
      isValidEmail: true,
      isNameValid: true
    };
  },
  computed: {
    isFormValid() {
      return this.isValidEmail && this.isNameValid && this.formData.email && this.formData.comment;
    }
  },
  methods: {
    validateEmail() {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      this.isValidEmail = emailRegex.test(this.formData.email);
    },
    validateName() {
      this.isNameValid = /^[a-zA-Z\s]+$/.test(this.formData.name);
    },
    async submitForm() {
      this.validateEmail();
      this.validateName();

      if (this.isValidEmail && this.isNameValid) {
        try {
          const response = await axios.post("https://it-academy-viseven.herokuapp.com/task6-check", this.formData, {
            headers: {
              "Content-Type": "application/json"
            }
          });

          if (response.status === 200) {
            this.$emit("success");
          } else {
            this.$emit("error");
          }
        } catch (error) {
          this.$emit("error");
        }
      }
    }
  },
  components: {
    Rating
  }
};
</script>

<style scoped>
/* Add your styles here */

.registration-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.label-error {
  color: red;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.has-error input {
  border-color: red;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.star-rating {
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.star-rating span {
  color: #ccc;
  transition: color 0.3s;
}

.star-rating span.filled {
  color: #f8d32a;
}

.selected-stars {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.warning {
  color: red;
  font-size: 12px;
}
</style>
