<template>
  <div class="star-rating">
    <span
      v-for="star in 5"
      :key="star"
      @click="setRating(star)"
      :class="{ filled: star <= rating }"
    >
      &#9733;
    </span>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      rating: this.value
    };
  },
  methods: {
    setRating(rating) {
      this.rating = rating;
      this.$emit("input", rating);
    }
  }
};
</script>

<style scoped>
.star-rating {
  font-size: 24px;
  cursor: pointer;
}

.star-rating span {
  color: #ccc;
  transition: color 0.3s;
}

.star-rating span.filled {
  color: #f8d32a;
}
</style>
