<template>
  <div id="app">
    <Form @success="showSuccessPopup" @error="showErrorPopup" />
  </div>
</template>

<script>
import Form from "./components/Form-for-me.vue";

export default {
  components: {
    Form
  },
  methods: {
    showSuccessPopup() {
      alert("Thank you!");
    },
    showErrorPopup() {
      alert("Something went wrong!");
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
